@inherits LayoutComponentBase

    <div class="flex justify-between absolute inset-x-0 top-0">
        <NavMenu />
@*        <a class="uppercase mt-6 ml-8  pb-2 border-b-4 mr-6 border-purple-700 hover:border-green-400" href="https://www.youtube.com/watch?v=va6HKMlIANc" target="_blank">Contact Us</a>
*@    </div>

<br />
<br />

<div class="px-8 container mx-auto">
    @Body
</div>
